/* You can add global styles to this file, and also import other style files */
.fecha{
    font-size: 12px;
    color: black;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
}
.hora{
    font-size: 12px;
    color: #999;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
    font-style: italic;
}